
body{
  height:100%;
  margin:0;
  background-color: rgb(220,220,220);

}
* {
  font-family:"Helvetica Neue", Arial, sans-serif;
}
.mainPage{

}
div.header {
  background-image:url("/private/img/Background.JPG");
  height:700px;
  width:100%;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  background-repeat:no-repeat;
}

h1.header {
  opacity:.7;
  background-color: rgb(40,40,40);
  color: rgb(220,220,220);
  position:absolute;
  left:40%;
  top:220px;
  background-attachment:scroll;
  display:inline;
  padding: 10px;
  height:auto;
  font-weight:100;
}

div.navbar{
  opacity:.7;
  padding:0;
  margin:0;
  position:absolute;
  top:650px;
  background-attachment:scroll;
  height:50px;
  width:100%;
  float:left;

}
ul.navbar{

  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:rgb(60,60,60);
  height:100%;
}
li.navbar{
  float:left;
  height:100%;
  border-right: 1px solid white;
}
li.navbar a{
  padding: 10px;
  display:block;
  text-align:center;
  color:rgb(220,220,220);
  text-decoration: none;
  font-size: 30px;
}
li.navbar a:hover{
  background-color:rgb(0,0,0);
}
li.navbar a:active{
  background-color:#0060f0;
  opacity:.7;
}
.pi-stats{
  width:100%;
}
td{
  padding:10px;
  text-align: left;
}
td#numBlocked:hover, td#qToday:hover, td#blockedToday:hover, td#adPercent:hover,
  td#uniqueD:hover, td#qForward:hover, td#qCached:hover, td#uniqueID:hover {
    background-color: #4CAF50;
  }
tr:nth-child(odd){
  background-color: #f2f2f2;
}
.row-2{
  display:flex;
  padding:5px;
}
.queryChart{
  padding:10px;
  width:80%;

  border-radius:25px;
  background-color: white;
  margin:10px;
}
#queryChart {
  width:80%;
  max-height:350px;
  margin:10px;
}

.pi-sum{
  display:block;
  background-color:white;
  padding:10px;
  border-radius:25px;
  margin:10px;
  width:20%;
}
#from-to{
  width:20%;
  display:inline;
}
.graph-header{
  display:inline;
}
#form1 {
  display:inline;
}
#home-iframe {
  align:bottom;
  width: 30%;
  height:325px;
  border-radius:6px;
  margin:10px;
}
